body {
    margin: 0;
    padding: 0;
    background-color: #8B0000; /* Dark background color */
    font-family: Arial, sans-serif;
    text-align: center;
    color: #000; /* Black text color */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: transparent;
}

#title {
    font-size: 24px;
    background-color: #8B0000; /* Dark Red background for title */
    padding: 10px;
    color: #fff; /* White text color */
}

#camera-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
}

#camera-screen {
    width: 100%;
    max-width: 400px; /* Adjust the size as needed */
    border: 2px solid #000;
    background-color: #fff;
}

#captured-image {
    width: 100%;
    max-width: 380px; /* Adjust the size as needed */
    margin-top: 10px;
    display: none; /* Initially hidden */
    border: 10px solid #fefefe;
}

#capture-button {
    background-color: #000000;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}